<div class="buttons-wrapper">
    <a href ="/" class="logo">pym</a>    
    <div class="buttons">
        <a href="/newpost" class="btn">new</a>
        <% if (locals.canSave) { %>
            <button class="btn" type="submit">
                save
            </button>
        <% } %>
    </div>
</div>