<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"
        integrity="sha512-yUUc0qWm2rhM7X0EFe82LNnv2moqArj5nro/w1bi05A09hRVeIZbN6jlMoyu0+4I/Bu4Ck/85JQIU82T82M28w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/material-darker.min.css"
        integrity="sha512-4AE4hJungkjpCKswHkPiPHZFbc94aVAm7fx7vr9k8szz1PZ5fgIisTbKnE4IibTQ3Ut+wkObezOMl5e1F5qDmA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>hljs.highlightAll();</script>
    <title> Pym </title>
</head>

<body>
    <%- include('_navbar.ejs') %>
        <hr>
        <%- include("_buttons.ejs") %>
            <div class="wrapper">
                <div class="line-numbers">
                    <% for (let i=1; i <=13; ++i) { %>
                        <div>
                            <%= i %>
                        </div>
                        <% } %>
                </div>
                <pre><code id = "display" class="language-plaintext">1welcome to pym.
a simple pastebin that supports syntax highlighting.
</code><code id = "display" class="language-python">
x = 5
for i in range(x):
    print(i)
</code><code id = "display" class = "language-plaintext">
use the commands in the bottom right to create/save a new file to share with others.

## author: josh chun

## source code: https://github.com/joshhchun/Pym</code></pre>
            </div>
</body>

</html>