html {
  @media only screen and (min-width: 1800px) {
      font-size: 75%;
  }	
  @media only screen and (max-width: 1200px) {
      font-size: 56.25%; 
  }
  @media only screen and (max-width: 900px) {
      font-size: 50%; 
  }
  @media only screen and (max-width: 600px) {
      font-size: 37.5%;
  }
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2b303b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
