html {
    font-size: 15px;
}

span {
    font-size: 15px;
}
code, pre, .codelike { margin: 0; font-size: 15px; }

body {
    background: #212121;
    margin: 0;
}

hr {
    height: 1px;
    width: 100%;
    background-color: #c5cbcf;
    border: none;
}
.wrapper {
    display: flex;
    padding: 1rem .5rem;
}

.hljs {
    font-size: 15px;
}

#display {
    padding-top: 0;
    padding-bottom: 0;
}

.line-numbers {
    color: #b3b3bd;
    font-family: monospace;
    text-align: end;
    font-size: 15px;
}

textarea {
    background-color: transparent;
    resize: none;
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #e1e1ec;
    min-height: calc(100vh - 2rem);
    outline: none;
    border: none;
}

.buttons-wrapper {
    position: fixed;
    width: 150px;
    height: 90px;
    bottom: 2rem;
    right: 2rem;
    opacity: 0.65;
    transition: opacity 200ms ease-in-out;
    background-color: #3e4142;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5%;
}

.buttons-wrapper:hover {
    opacity:1
}

.logo {
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: none;
    color: #bfc5c8;
    width: 100%;
    display: inline-block;
}

.logo:hover {
    text-decoration: underline;
}
.buttons {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.buttons > * + * {
    margin-left: 1rem;
}

.btn {
    font-size: 18px;
    cursor: pointer;
    background: none;
    border: 1px solid #282936;
    color: #282936;
    border-radius: 0.25rem;
    padding:  0.25rem 0.5rem;
    display: inline-block;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:hover {
    background-color: #bfc5c8;
}

.navbar {
    background-color: #212121;
    height: 50px;
    margin-top: -2rem;
}

.nav-item {
    padding-top: 2px;
    margin-left: 2.5rem;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link {
    color: #bfc5c8;
    text-decoration: none;
}

